progress,
.progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: .625rem;
  border: 0;
  overflow: hidden;
  border-radius: var(--m-r-full);
  background: var(--m-surface);
  display: block;
}
progress::-webkit-progress-bar,
.progress::-webkit-progress-bar { background: var(--m-surface); }
progress::-webkit-progress-value,
.progress::-webkit-progress-value { background: var(--m-primary); border-radius: var(--m-r-full); }
progress::-moz-progress-bar,
.progress::-moz-progress-bar { background: var(--m-primary); border-radius: var(--m-r-full); }
